$fontFamily:
  twitterchirp,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Helvetica,
  Arial,
  sans-serif;

.signUpDialog {
  .MuiBackdrop-root {
    background-color: rgba(91, 112, 131, 0.4);
  }
  .customDialogRoot {
    //height: 635px !important;
    box-shadow: inset;
    background-color: rgb(0, 0, 0);
    .header {
      padding: 8px;
      color: rgb(231, 233, 234);
      font-family: $fontFamily !important;
      display: inline-flex;
      .button {
        min-width: 30px;
        height: 35px;
        width: 35px;
        margin-right: 16px;
      }
    }
    .content {
      padding: 0px 80px;
      .contentHeader {
        font-size: 31px;
        margin: 20px 0px;
      }
      .inputField {
        margin: 12px 0px;
      }
      .useEmail {
        margin-left: auto;
        font-size: 15px;
        color: rgb(29, 155, 240);
        font-family: $fontFamily;
      }
      .useEmail:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .footer {
      padding: 52px 80px 26px;
      width: inherit;

      .createButton {
        height: 52px;
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        border-bottom-left-radius: 26px;
        border-bottom-right-radius: 26px;
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 1);
        font-weight: 600;
      }
      .createButton:hover {
        background-color: rgb(231, 231, 231);
      }
      .createButton:disabled {
        opacity: 0.5;
      }
    }
  }
}

.MuiPaper-rounded {
  border-radius: 16px !important;
}
