$fontFamily:
  TwitterChirpExtendedHeavy,
  Verdana,
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Helvetica,
  Arial,
  sans-serif !important;
$fontColor: rgb(231, 233, 234);

.mainRoot {
  height: 100vh;
}

.root {
  display: flex;

  .signInContent {
    padding: 20px;
  }

  .rootButton {
    width: 300px !important;
    height: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .signInFlows {
    flex-direction: column;
  }

  .ssoButton {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 1);
    img {
      margin-right: 8px;
    }
  }

  .ssoButton:hover {
    background-color: rgb(231, 231, 231);
  }

  .ssoGoogle {
    font-family: 'Google Sans', arial, sans-serif;
    margin-bottom: 20px;
  }

  .ssoApple {
    font-weight: 600;
  }

  .orDivider {
    width: 300px;
  }

  .newAccButton {
    background-color: rgb(29, 155, 240);
    margin-bottom: 8px;
  }

  .newAccButton:hover {
    background-color: rgb(26, 141, 217);
  }

  .happeningNow {
    font-size: 64px;
    margin: 64px 0px;
    font-family: $fontFamily;
    color: $fontColor;
  }

  .joinToday {
    font-size: 31px;
    margin-bottom: 32px;
    font-family: $fontFamily;
    color: $fontColor;
  }

  .policy {
    width: 305px;
    font-size: 11px;
    color: rgb(113, 118, 123);
    margin-bottom: 20px;
    word-wrap: break-word;
    line-height: 12px;
    a {
      color: rgb(29, 155, 240);
      cursor: pointer;
      word-wrap: break-word;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .signInGrid {
    margin-top: 40px;
    .alreadyHaveAnAccount {
      margin-bottom: 20px;
      font-size: 17px;
      color: rgb(231, 233, 234);
    }
    .signin {
      color: rgb(29, 155, 240);
      border: 0.5px solid rgb(83, 100, 113);
      background-color: black;
      font-weight: 600;
    }

    .signin:hover {
      background-color: rgb(29, 155, 240, 0.1);
    }
  }
}

.footer {
  padding: 12px 16px;
  .policy {
    font-size: 13px;
    line-height: 12px;
    margin: 4px 0px;
    padding-right: 6px;
    a {
      color: rgb(113, 118, 123);
      cursor: pointer;
      word-wrap: break-word;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.xLogo {
  height: fit-content;
  align-self: center;
}

@media only screen and (max-width: 1000px) {
  .xLogo {
    display: none !important;
  }
  .root {
    justify-content: center !important;
    word-wrap: break-word;
  }
}
