@import url('./_quickAction.scss');
@import url('./_home.scss');
@import url('./_root.scss');
@import url('./_dialog.scss');
@import url('./_login.scss');
@import url('./_feed.scss');
@import url('./_quickOptions.scss');

$fontFamily:
  TwitterChirpExtendedHeavy,
  Verdana,
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Roboto,
  Helvetica,
  Arial,
  sans-serif !important;
$fontColor: rgb(231, 233, 234);

.p-16 {
  padding: 16px !important;
}

.pt-4 {
  padding-top: 4px;
}

.contentBorder {
  height: max(100vh, 100%);
  border-color: rgb(47, 51, 54);
  border-left-style: solid;
  border-right-style: solid;
}

.contentBorder2 {
  border-color: rgb(47, 51, 54);
  border-bottom-style: solid;
}

.bl {
  border-left-width: 1px;
}

.br {
  border-right-width: 1px;
}

.bb {
  border-bottom-width: 1px;
}

.bt {
  border-top-width: 1px;
}

.btlr {
  border-top-left-radius: 50% !important;
}

.btrr {
  border-top-right-radius: 50% !important;
}

.bblr {
  border-bottom-left-radius: 50% !important;
}

.bbrr {
  border-bottom-right-radius: 50% !important;
}

.MuiButton-label {
  text-transform: none !important;
}

.Mui-focused {
  .MuiOutlinedInput-notchedOutline {
    border-color: rgb(29, 155, 240) !important;
  }
}
.MuiFormLabel-root {
  color: rgb(113, 118, 123) !important;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
  border-color: #f44336 !important;
}

.MuiFormLabel-root.Mui-focused.Mui-error {
  color: #f44336 !important;
}

.MuiFormLabel-root.Mui-error {
  color: #f44336 !important;
}

.MuiFormLabel-root.Mui-focused {
  color: rgb(29, 155, 240) !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgb(51, 54, 57) !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dividerGrid {
  display: flex;
  align-items: center;
  text-align: center;
  width: inherit;
  color: $fontColor;
  font-family: $fontFamily;
  opacity: 0.8;
  margin: 12px 0px;
}

.dividerGrid::before,
.dividerGrid::after {
  content: '';
  flex: 1;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.12);
}

.dividerGrid:not(:empty)::before {
  margin-right: 8px;
}

.dividerGrid:not(:empty)::after {
  margin-left: 8px;
}

.MuiTab-wrapper {
  text-transform: none !important;
  font-weight: 600;
}
